{% extends 'base.html' %}
{% block header %}
<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">TodoList</h1>
    <p class="col-md-8 fs-4">TodoListで効率的な毎日を</p>
    <a href="{%url 'create'%}" class="btn btn-primary btn-lg" role="button">新規作成</a>
  </div>
</div>
{% endblock header %}

{%block content%}
<div class="container">
  {%for item in object_list%}

  <div class="alert alert-{{item.priority}}" role="alert">
    <p>{{item.title}} 期日：{{item.duedate}}</p>
    <a href="{%url 'update' item.pk%}" class="btn btn-info" tabindex="-1" role="button" aria-disabled="true">編集</a>
    <a href="{%url 'delete' item.pk%}" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">削除</a>
    <a href="{%url 'detail' item.pk%}" class="btn btn-success" tabindex="-1" role="button" aria-disabled="true">詳細</a>
  </div>
  {%endfor%}
</div>
{%endblock content%}